*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    max-width: 100%;
}

main{
    max-width: 500px;
    margin: 10% auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgb(239, 236, 236);
}

.main_titulo{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.main_titulo img{
    width: 7%;
}

.main_perguntas_respostas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px 20px;
}

.main_pergunta{
    display: flex;
    height: 50px;
    justify-content: center;
}

.main_pergunta p{
    flex: 2;
    margin: auto;
    font-weight: 600;
    font-size: 1.1rem;
}

.main_resposta{
    display: none;
} 

